---
import "../styles/global.css"; // Import tailwind styles
import { Image } from 'astro:assets'; // Import image class

//Import images
import heroImage from "../Assets/HomePage/Hero.jpg";
import logoNoText from "../Assets/Logos/Logo No Text-0.5x.png"
import aboutImage from "../Assets/HomePage/About Us.jpg"
import nathanielProfile from "../Assets/HomePage/Nathaniel profile shot.jpg"
import rubyProfile from "../Assets/HomePage/Ruby Profile Shot.jpg"

// Import components
import WorkshopCard from "../components/workshopCard.astro";
import InternalButton from "../components/internalButton.astro";
import ExternalButton from "../components/externalButton.astro";
import Seo from "../components/seo.astro";
---

<html lang="en">
	<head>
		<Seo 
			title="Oak & Pen Writing Workshops" 
			description="Find your inspiration for writing by exploring the great outdoors and local history." 
			link="/"

			/>
	</head>
	<body class="bg-background-green-0 text-whitetext px-3 xl:px-12 2xl:px-24 mb-80">
		<!-- Hero -->
		<div class="flex flex-col lg:flex-row w-full h-screen lg:max-h-[calc(100vh*0.8)] py-8 lg:pt-16 lg:justify-between">
			<div class="flex flex-col w-full lg:w-1/3 order-2 lg:order-1">
				<!-- Navbar -->
				<nav class="flex flex-row justify-between w-full h-16 bg-primary-pink-0 font-light text-lg text-blacktext rounded-md overflow-hidden order-2 lg:order-1 mt-14 lg:mt-0">
					<Image
					src={logoNoText} alt={"The logo of Oak and Pen. An oak tree that blends into a fountain pin nib."}
					style={"--fit: contain;"}
					class="p-2"
					width={64}
					height={64}
					/>
					<a class="h-full flex grow p-2 border-l-2 border-primary-pink-050 items-center justify-center hover:bg-primary-pink-050 leading-tight" href="#OurEvents">Our Workshops</a>
					<a class="h-full flex grow p-2 border-l-2 border-primary-pink-050 items-center justify-center hover:bg-primary-pink-050 leading-tight" href="#AboutUs">About Us</a>
					<a class="h-full flex grow p-2 border-l-2 border-primary-pink-050 items-center justify-center hover:bg-primary-pink-050 leading-tight" href="#ContactUs">Contact Us</a>
				</nav>
				<!-- Text -->
				<div class="flex flex-col grow justify-center mt-8 lg:mt-0 order-1 lg:order-2">
					<h1 class="text-6xl xl:text-8xl 2xl:text-9xl font-Headings font-thin">Oak <br class="hidden lg:block">& Pen</h1>
					<p class="text-lg xl:text-xl mt-7">Find your inspiration for writing by exploring the great outdoors and local history.</p>					
				</div>
				
			</div>
			<!-- Image -->
			<div class="flex w-full lg:w-3/5 lg:justify-end order-1 lg:order-2">
				<Image 
				src={heroImage} alt="An image of two people in the countryside." 
				style={"--fit: cover;"}
				class={"w-full rounded-4xl"}
				/>
			</div>
		</div>

		<!-- Our Events -->
		<div id="OurEvents" class="flex flex-col w-full py-8 lg:py-20">
			<h2 class="text-5xl 2xl:text-7xl font-Headings font-thin">Our Workshops</h2>
			<div class="w-full flex flex-col lg:flex-row justify-between mt-10">

				<WorkshopCard 
				title="Workshop Title: A Very Long One"
				description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
				day="25"
				month="Mar"
				/>

				<WorkshopCard 
				title="Workshop Title: A Very Long One"
				description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
				day="25"
				month="Mar"
				/>

				<WorkshopCard 
				title="Workshop Title: A Very Long One"
				image={nathanielProfile}
				description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
				day="25"
				month="Mar"
				/>

			</div>
			<div class="w-full flex justify-end">
				<InternalButton link="/Oak-and-Pen" text="View all workshops"/>
			</div>
			
		</div>

		<!-- About Us -->
		<div id="AboutUs" class="flex flex-col w-full py-14 lg:py-20">
			<div class="flex flex-col lg:flex-row w-full lg:h-96 justify-between">
				<div class="flex flex-col order-2 lg:order-1">
					<div class="flex flex-col grow justify-center mt-9 lg:mt-0">
						<h2 class="text-5xl 2xl:text-7xl font-Headings font-thin">Who are <br class="md:hidden">Oak & Pen?</h2>
						<p class="w-full max-w-4xl text-base md:text-lg lg:text-xl mt-8">Two mates from Manchester basically. One loves writing, one loves nature. Together we thought, if people want to write about it, shouldn't they know a bit about it first? And thus, our idea was born. A walking tour, with a knowledgable guide, who can explain what you see, and a writer, who can teach you to express what you know.</p>				
					</div>
				</div>
				<div class="flex justify-end lg:ml-8 order-1 lg:order-2">
					<Image 
					src={aboutImage} alt="An image of two people in the countryside." 
					style={"--fit: cover; --pos: top;"}
					class={"w-full rounded-4xl"}
					/>
				</div>
			</div>

			<div class="flex flex-col lg:flex-row w-full justify-around mt-14">

				<!-- Nathaniel -->
				<div class="flex flex-col w-full lg:w-2/5 p-5 bg-background-green-10 justify-center rounded-4xl mt-36">
					<Image 
						src={nathanielProfile} alt="An image of Nathaniel, Oak in Oak & Pen." 
						style={"--fit: cover;"}
						class={"rounded-4xl -mt-36 mb-5 w-1/2 lg:w-full"}
					/>
					<h3 class="w-full text-center text-3xl 2xl:text-5xl text-primary-pink-010 font-Headings font-thin">Nathaniel Stanton</h3>
					<h4 class="w-full text-center text-2xl 2xl:text-4xl font-Headings font-thin">Oak</h4>
					<p class="mt-5 text-base md:text-lg lg:text-xl">I started with a blog, Wanderers Nook. A passion project to help other's get into my hobby. I don't drive, and I love hiking. I always have. So when I moved to Manchester, I was annoyed at how little green space there is. Slowly, I learnt the rail lines, bus routes and Metrolink lines. I've walked hundreds of miles around Manchester.</p>
					<p class="mt-3 text-base md:text-lg lg:text-xl">And now, working with Ruby, I'm trying to share everything I've learnt, and share what I learn in future.</p>
					<ExternalButton link="https://wanderersnook.co.uk/" text="View my blog"/>
				</div>
	
				<!-- Ruby -->
				<div class="flex flex-col w-full lg:w-2/5 p-5 bg-background-green-10 justify-center rounded-4xl mt-36">
					<Image 
						src={rubyProfile} alt="An image of Ruby, Pen in Oak & Pen." 
						style={"--fit: cover;"}
						class={"rounded-4xl -mt-36 mb-5 w-1/2 lg:w-full"}
					/>
					<h3 class="w-full text-center text-3xl 2xl:text-5xl text-primary-pink-010 font-Headings font-thin">Ruby Martin</h3>
					<h4 class="w-full text-center text-2xl 2xl:text-4xl font-Headings font-thin">Pen</h4>
					<p class="mt-5 text-base md:text-lg lg:text-xl">I'm a working-class writer originally from Cornwall, now based in Manchester. Shortlisted for the Sid Chaplin Prize, as well as longlisted for Penguin's #WriteNow Scheme and the Dawn Foster Memorial Prize. My short stories and non-fiction have won prizes in Streetcake Experimental Writing and QuietManDave competitons.</p>
					<p class="mt-3 text-base md:text-lg lg:text-xl">I've used my skills to deliver many writing workshops with partners like Levenshulme old library.</p>
					<ExternalButton link="https://www.rubymartin.co.uk/" text="View my site"/>
				</div>
	
			</div>
		</div>
		
		<!-- Contact Us -->
		<div id="ContactUs" class="flex flex-col w-full py-14 lg:py-20">
			<div class="flex flex-col lg:flex-row w-full justify-between">
				<div class="flex flex-col w-full lg:max-w-1/2">
					<h2 class="text-5xl 2xl:text-7xl font-Headings font-thin">Contacting <br class="md:hidden">Oak & Pen?</h2>
					<p class="w-full max-w-4xl text-base md:text-lg lg:text-xl mt-8">It's surprisingly easy. We have email and an Instagram. Reach out to us with any inquiries.</p>
					<p class="w-full max-w-4xl text-base md:text-lg lg:text-xl mt-8">We both deny TikTok exists. We do not have TikTok.</p>				
				</div>
				<div class="flex flex-col mt-0 md:mt-5 lg:mt-0 md:flex-row lg:flex-col w-full lg:max-w-1/2 md:pl-24 justify-center align-bottom">
						<a class="rounded-2xl border border-primary-pink-010 bg-background-green-10 my-3 md:mr-auto p-6 text-blacktext" 
						href="mailto:oakandpentours@gmail.com"
						target="_blank"
						rel="noopener noreferrer">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="size-12 stroke-primary-pink-030">
								<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
							</svg>
							<h3 class="text-xl lg:text-2xl 2xl:text-3xl font-Headings font-thin text-whitetext">oakandpentours@gmail.com</h3>
							<p class="font-light leading-tight text-base md:text-lg lg:text-xl text-whitetext">Email</p>
						</a>
						<a class="rounded-2xl border border-primary-pink-010 bg-background-green-10 my-3 md:mr-auto p-6 text-blacktext" 
						href="https://www.instagram.com/oakandpentours/" 
						target="_blank"
						rel="noopener noreferrer">	
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32" stroke-width="1.5" class="size-12 fill-primary-pink-030">
								<path d="M 11.46875 5 C 7.917969 5 5 7.914063 5 11.46875 L 5 20.53125 C 5 24.082031 7.914063 27 11.46875 27 L 20.53125 27 C 24.082031 27 27 24.085938 27 20.53125 L 27 11.46875 C 27 7.917969 24.085938 5 20.53125 5 Z M 11.46875 7 L 20.53125 7 C 23.003906 7 25 8.996094 25 11.46875 L 25 20.53125 C 25 23.003906 23.003906 25 20.53125 25 L 11.46875 25 C 8.996094 25 7 23.003906 7 20.53125 L 7 11.46875 C 7 8.996094 8.996094 7 11.46875 7 Z M 21.90625 9.1875 C 21.402344 9.1875 21 9.589844 21 10.09375 C 21 10.597656 21.402344 11 21.90625 11 C 22.410156 11 22.8125 10.597656 22.8125 10.09375 C 22.8125 9.589844 22.410156 9.1875 21.90625 9.1875 Z M 16 10 C 12.699219 10 10 12.699219 10 16 C 10 19.300781 12.699219 22 16 22 C 19.300781 22 22 19.300781 22 16 C 22 12.699219 19.300781 10 16 10 Z M 16 12 C 18.222656 12 20 13.777344 20 16 C 20 18.222656 18.222656 20 16 20 C 13.777344 20 12 18.222656 12 16 C 12 13.777344 13.777344 12 16 12 Z"></path>
								</svg>
							<h3 class="text-xl lg:text-2xl 2xl:text-3xl font-Headings font-thin text-whitetext">oakandpentours</h3>
							<p class="font-light leading-tight text-base md:text-lg lg:text-xl text-whitetext">Instagram</p>
						</a>
				</div>
			</div>
		</div>
	</body>
</html>
