---
interface Props {
  title: string;
  description: string;
  noIndex?: boolean;
  canonical?: string;
  link: string;
  image?: ImageMetadata;
}

import defaultImage from "../Assets/Logos/Artboard 1@0.5x.png";

// Access passed-in component props, like `<X title="Hello, World" />`
const { 
    title, 
    description, 
    noIndex = false,
    canonical = null,
    image = defaultImage
} = Astro.props;

let robotsFollow = "index, follow"
if (noIndex) {
    robotsFollow = "index, nofollow"
} 
const faviconLink = Astro.site + defaultImage.src
const metaImageAbsoluteURL = Astro.site + image.src
---
<>
    {/* General tags for all */}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="" />
    <meta name="robots" content={robotsFollow} />
    <meta name="author" content="Nathaniel Stanton"/>
    <link rel="icon" type="image/png" href={faviconLink} />

    {/* Page specific tags */}
    <title>{title}</title>
    <meta name="description" content={description} />
    {/* Canonical link is just the page's URL. Must be injected on page creation */}
    <!-- <link rel="canonical" href={metaPageUrl} />   -->

    {/* Open Graph Tags */}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={metaImageAbsoluteURL} />
    <!-- <meta property="og:url" content={metaPageUrl} /> -->

      {/* Twitter Card Tags */}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content={title}/>
      <meta name="twitter:description" content={description}/>
      {<meta name="twitter:image" content={metaImageAbsoluteURL}/>}
    </>